<!DOCTYPE html>
<html>
<head>
    <title>Lista de Disciplinas</title>
</head>
<body>
    <h1>Lista de Disciplinas</h1>
    <ul>
        {% for disciplina in disciplinas %}
            <li>{{ disciplina.nome }} <a href="editar/{{ disciplina.id }}">Editar</a> <a href="{% url 'disciplina-delete' disciplina.id %}">Apagar</a></li>
        {% empty %}
            <li>Nenhuma disciplina encontrada.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'disciplina-create' %}">Cadastrar Nova Disciplina</a>
</body>
</html>
