<!DOCTYPE html>
<html>
<head>
    <title>Lista de Professores</title>
</head>
<body>
    <h1>Lista de Professores</h1>
    <ul>
        {% for professor in professores %}
            <li>{{ professor.professor }} <a href="editar/{{ professor.pk }}">Editar</a> <a href="{% url 'professor-delete' professor.id %}">Apagar</a></li>
        {% empty %}
            <li>Nenhuma professor encontrado.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'professor-create' %}">Cadastrar Novo Professor</a>
</body>
</html>
